name: Publish

on:
  push:
    branches:
      master

jobs:
  docs:
    name: Publish blog
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Install Node.js
        uses: actions/setup-node@v4
      - name: Install Katex
        run: npm install katex
      - name: Generate
        run: cargo run --release --manifest-path builder/Cargo.toml
      - name: Publish
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: output
